.item {
	color: rgb(218, 218, 218);
	margin: 0 auto 20px auto;
	background: rgba(118, 156, 133, 0.5);
	display: block;
	padding: 10px 30px;
	border-radius: 6px;
	position: relative;
}
.title {
	padding: 20px 0 10px 17px;
	font-size: 18px;
	font-style: italic;
}
.text {
	text-align: justify;
	font-size: 16px;
	line-height: 1.5em;
	background: rgba(163, 187, 172, 0.5);
	border-radius: 8px;
	padding: 5px 17px;
}
.date {
	position: absolute;
	top: 5px;
	right: 10px;
}
.author {
	position: absolute;
	top: 5px;
	left: 10px;
}
.author a {
	color: rgb(238, 238, 238);
	text-decoration: none;
}
.buttons {
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
}
.button {
	display: inline-block;
	border-radius: 7px;
	height: 25px;
	width: 70px;
	background: rgb(159, 197, 176);
	font-weight: 700;
}
