.postsBlock {
	padding: 10px;
}
.item img {
	width: 50px;
	height: 50px;
}
.item {
	color: greenyellow;
	margin-bottom: 20px;
}

.postsBlock__title {
	color: rgba(214, 226, 215, 0.9);
	margin-bottom: 50px;
}

.newPost {
	background: rgba(118, 156, 133, 0.5);
	display: block;
	width: 90%;
	margin: 0 auto;
	border-radius: 6px;
}
.newPostForm {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	position: relative;
}
.newPostAuthors {
	max-width: 20%;
	display: block;
	padding: 2px 5px;
	display: block;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 24px;
}
.newPostTitle {
	position: relative;
	display: block;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 40%;
	height: 30px;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 10px;
}

.newPostText {
	box-sizing: border-box;
	resize: none;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	height: 150px;
	display: block;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0 auto 20px auto;
}
.newPostButton {
	display: inline-block;
	border-radius: 7px;
	height: 40px;
	width: 100px;
	background: rgb(159, 197, 176);
	font-weight: 700;
}
.error {
	font-size: 18px;
	height: 0px;
	position: relative;
	bottom: 23px;
	color: rgb(146, 23, 23);
}

.searchBlockContainer {
	width: 100%;
	margin: 0 auto 15px auto;
	padding-top: 10px;
}

.searchBlock {
	display: flex;
	align-items: center;
	height: 30px;
}
.searchField {
	height: 30px;
	display: block;
	width: 100%;
	/* flex: 1; */
}
.searchField input {
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	border-radius: 0 10px 10px 0;
	position: relative;
	bottom: 1px;
}
.searchButton {
	padding: 0 10px;
	flex: 0;
	height: 30px;
	display: block;
	width: 20%;
	background: rgb(202, 202, 202);
	border-radius: 10px 0 0 10px;
}
.postsForm {
	width: 70%;
	margin: 0 auto;
}
.sortArrow {
	height: 15px;
}
.sortBlock {
	width: 100%;
	margin: 0 auto 15px auto;
	justify-content: flex-end;

	display: flex;
	gap: 20px;
	align-items: center;
}
.sortTitle {
	position: relative;
	bottom: 3px;
	font-size: 20px;
	color: rgba(212, 212, 212, 0.9);
}
.sortButton {
	padding: 0 15px;
	height: 30px;
	position: relative;
	font-size: 14px;
	border-radius: 5px;
	background: rgb(202, 202, 202);
}
.sortButtonContainer {
	display: flex;
	align-items: center;
	height: 24px;
	padding: 0 10px 0 0;
	border-radius: 10px;
	background: rgb(219, 219, 219);
}
.sortArrow {
	position: relative;
	left: 3px;
}
